<%= link_to "Crear Actor", actors_new_path %>

<table>
  <tr>
    <th>name</th>
    <th>bio</th>
    <th>birth_date</th>
    <th>birth_place</th>
    <th>image_url</th>
    <th>alive</th>
    <th>death_date</th>
    <th>death_place</th>
  </tr>
  <% @actors.each do |actor| %>
    <tr>
      <th><%= actor.name %></th>
      <th><%= actor.bio %></th>
      <th><%= actor.birth_date %></th>
      <th><%= actor.birth_place %></th>
      <th><img src="<%= actor.image_url%>" alt="">
      <th><%= actor.alive %></th>
      <th><%= actor.death_date %></th>
      <th><%= actor.death_place %></th>
    </tr>
  <% end %>
</table>
</ul>
